# Игнорирование файла .env, который может содержать конфиденциальную информацию
.env

# Игнорирование каталога .cache, который может содержать временные файлы
.cache

# Игнорирование конфигурационных файлов Visual Studio Code
.vscode

# Игнорирование каталога images, если он содержит временные или сгенерированные изображения
images

# Игнорирование каталогов __pycache__ и файлов .pyc, .pyo, .pyd
__pycache__/
*.py[cod]
